@import 'base.scss';

@mixin setBorder($property: border, $value: 1px solid $c-black, $radius: .4rem) {
  #{$property}: $value;
  border-radius: $radius;
}

@mixin setSpace($property: margin, $value: 1.5rem) {
  #{$property}: $value;
}

@mixin setPadding($property: padding, $value: .3rem .5rem) {
  #{$property}: $value;
}

.multistep {
  @include setSpace(padding);
  @include setBorder;
  font: $font;

  &__header {
    @include setSpace(margin-bottom);
    text-transform: uppercase;
    text-align: center;
  }

  &__button {
    @include setBorder;
    @include setPadding;
    @include setSpace(margin-top);
    font: $font;
    $effectSize: .2rem;
    $shadowSize: .3rem;
    font-size: $fs-medium;
    font-weight: bold;
    text-transform: uppercase;
    background: none;
    box-shadow: 0 $shadowSize black;
    cursor: pointer;

    &:hover {
      transform: translateY($effectSize);
      box-shadow: 0 $shadowSize - $effectSize;
    }
  }
}

.card {
  display: none;

  &--active {
    display: grid;
  }

  label {
    margin-block: .5rem;
    font-size: $fs-medium;
    font-weight: bold;
    letter-spacing: .05rem;
    display: inline-block;
    text-transform: uppercase;
  }

  input {
    @include setBorder;
    @include setPadding;
    font: $font;
  }
}