$c-white:	hsl(210, 17%, 98%);
$c-black: hsl(210, 11%, 15%);
$c-accent-light: hsl(190, 100%, 42%);
$c-accent-dark: hsl(195, 100%, 39%);
$ff: "Courier new", courier, monospace;
$fs-heigh: 1.4rem; 
$fs-medium: 1.2rem; 
$fs-low: 1rem;
$shadow-effect-size: .2rem; 
$shadow-size-medium: .3rem; 
$border-radius: .4rem;
$l-spacing: .05rem;