$color-white: hsl(210, 16%, 93%);
$color-black: hsl(210, 11%, 15%);
$color-accent-light: hsl(190, 100%, 42%);
$color-accent-dark: hsl(195, 100%, 39%);
$font: 1rem "Courier new", courier, monospace ;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $color-black;
}