@use 'base.scss';
@import 'base.scss';

@mixin setBorder {
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: .4rem;
}

@mixin setSpace($property) {
  #{$property}: 1.5rem;
}

@mixin setPadding {
  padding: .3rem .5rem;
}

html, body {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.multistep__header {
  @include setSpace(margin-bottom);
  text-transform: uppercase;
  text-align: center;
}

.multistep {
  @include setSpace(padding);
  @include setBorder;
  font: $font;
}

.card {
  display: none;
  flex-direction: column;
  
  &:not(:first-of-type){
    // display: none;
  }

  label {
    margin-block: .5rem;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: .05rem;
    display: inline-block;
    text-transform: uppercase;
  }

  input {
    @include setBorder;
    @include setPadding;
    font: $font;
  }
}

.card--active {
  display: flex;
}

.multistep__button {
  @include setBorder;
  @include setPadding;
  @include setSpace(margin-top);
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  background: none;
}