*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsl(210, 11%, 15%);
  background: hsl(210, 17%, 98%);
  font: inherit;
}

body {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
body::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  inset: 0 0 auto auto;
  border-top: 15vh solid hsl(210, 11%, 15%);
  border-right: 15vw solid hsl(210, 11%, 15%);
  border-bottom: 15vh solid transparent;
  border-left: 15vw solid transparent;
}
body::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  inset: auto auto 0 0;
  border-top: 15vh solid transparent;
  border-right: 15vw solid transparent;
  border-bottom: 15vh solid hsl(210, 11%, 15%);
  border-left: 15vw solid hsl(210, 11%, 15%);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsl(210, 11%, 15%);
  background: hsl(210, 17%, 98%);
  font: inherit;
}

body {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
body::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  inset: 0 0 auto auto;
  border-top: 15vh solid hsl(210, 11%, 15%);
  border-right: 15vw solid hsl(210, 11%, 15%);
  border-bottom: 15vh solid transparent;
  border-left: 15vw solid transparent;
}
body::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  inset: auto auto 0 0;
  border-top: 15vh solid transparent;
  border-right: 15vw solid transparent;
  border-bottom: 15vh solid hsl(210, 11%, 15%);
  border-left: 15vw solid hsl(210, 11%, 15%);
}

.multistep {
  font: bold 1rem "Courier new", courier, monospace;
  text-transform: none;
  letter-spacing: 0.05rem;
  position: relative;
  background: transparent;
  z-index: 999;
}
.multistep-header {
  font: bold 0.8rem "Courier new", courier, monospace;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  text-align: center;
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translateX(-50%);
}
.multistep-header ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}
.multistep-header__elem {
  counter-increment: step 1;
}
.multistep-header__elem::before {
  border: 1px solid hsl(210, 11%, 15%);
  border-radius: 0.4rem;
  margin: 0 auto 0.5rem;
  content: counter(step);
  display: block;
  width: 2rem;
  line-height: 2rem;
}
.multistep-header__elem--active::before {
  background: hsl(190, 100%, 42%);
}
.multistep-form {
  border: 1px solid hsl(210, 11%, 15%);
  border-radius: 0.4rem;
  padding: 1.5rem;
  box-shadow: -0.3rem 0.3rem black;
}
.multistep-buttons {
  margin-block: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.multistep__button {
  border: 1px solid hsl(210, 11%, 15%);
  border-radius: 0.4rem;
  padding: 0.3rem 0.5rem;
  font: bold 1.2rem "Courier new", courier, monospace;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  background: none;
  box-shadow: 0 0.3rem black;
  cursor: pointer;
}
.multistep__button:hover {
  background: hsl(190, 100%, 42%);
  transform: translateY(0.2rem);
  box-shadow: 0 0.1rem;
}
.multistep__button--hide {
  visibility: hidden;
}

.card {
  display: none;
  border: none;
  border-radius: 0.4rem;
}
.card__header {
  margin-block: 1.5rem;
  font: bold 1.7rem "Courier new", courier, monospace;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  text-align: center;
}
.card--active {
  display: grid;
}
.card label {
  font: bold 1.2rem "Courier new", courier, monospace;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  margin-block: 0.5rem;
  display: inline-block;
}
.card input {
  border: 1px solid hsl(210, 11%, 15%);
  border-radius: 0.4rem;
  padding: 0.3rem 0.5rem;
  font: 1rem "Courier new", courier, monospace;
  text-transform: none;
  letter-spacing: 0.05rem;
}

/*# sourceMappingURL=main.css.map */
